#praepa {
	float: left;
}

.mentext {
	
	text-decoration: none;
	color: #FFFFFF;

}

.mentext:hover{
  color: red;
  text-decoration: none;
}

.mentda {
	float: right;
	display: inline;
	margin-left: 50%;
	

}

.mentdb {
	float: right;
	display: inline;
}

/*#offering {

	background-color: #000000;
	text-align: center;
	font-size: 250%;
	color: #FFFFFF;
}*/

#offeringtext {

	background-color: #CD5C5C;
	color: #FFFFFF;
	font-size: 150%;
	text-align: center;
}

#wscc {
	text-align: center;
	color: #FFFFFF;
	font-size: 1.35rem;
	background-color: #FF0000; 
}

#trint {

	text-align: center;
	color: #FFFFFF;
	font-size: 175%;
	background-color: #696969;


}

#wscwhatisit {

	color: #000000;
	font-size: 1rem;
	text-align: left;
	background-color: #DCDCDC;

}

#trinwhatisit {

	color: #FFFFFF;
	font-size: 150%;
	text-align: center;
	background-color: #808080;


}

#checkoutdebate {

	text-align: center;
	color: #FFFFFF;
	font-size: 1.35rem;
	background-color: #FF0000; 
}

#checkoutacting {

	background-color: #696969;
	color: #FFFFFF;
	font-size: 175%;
	text-align: center;


}

html {
	scroll-behavior: smooth;
}


#downarrow {

	align-content: center;
}

#arrow {
	background-color: #000000;

	text-align: center;
}


#download {

	text-align: center;
	background-color: #CD5C5C;
	font-size: 150%;
	color: #FFFFFF;
}

#clickarrow {
	color: #FFFFFF;
	font-size: 100%;
}


#biwsc {

	color: #FFFFFF;
	font-size: 150%;
	background-color: black;
}

.blank {
	background-color: black;
}


#enjoy {
	text-align: center;
}

#downloadclick {

	text-decoration: none;
	color: #FFFFFF;
	
	
}

#download2 {
	text-align: center;
	background-color: #CD5C5C;
	font-size: 150%;
	color: #FFFFFF;
}


#downloadclick2 {
	text-decoration: none;
	color: #ffffff;
}

#scholhype {
	text-decoration: underline;
	color: black;
}


#debatetips {
	background-color: #DCDCDC;
}

/*#samplemotions {
	background-color: #FF0000;
	font-size: 1.35rem;
	text-align: center;
	color: #FFFFFF;
}*/

#samplemo {
	text-align: center;
	color: #FFFFFF;
	font-size: 1.35rem;
	background-color: #FF0000; 
}


#samplemo2 {
	background-color: #DCDCDC;
}

footer {

	font-size: 0.85rem;
}
#foot {
	width: 100%;
	background-color: black;
	color: #FFFFFF;
	text-align: center;
}

#logoo {
	width: 20%;
	text-align: left;
}

.footro {
	width: 33.33%;
}

#dlogoo {
	width: 25%;
	background-color: black;
	margin: 0;
	padding: 0;
	border: 0;

}

#footb {
	width: 33.33%;
	color: #FFFFFF;
	background-color: black;
	float: left;

}

.tra {
	
	text-align: center;

}
.quicklinkss {
	text-decoration: none;
	color: #FFFFFF;
}

#footc {
	width: 33.33%;
	color: #FFFFFF;
	background-color: black;
	float: left;
}

#footd {
	width: 33.34%;
	color: #ffffff;
	background-color: black;
	
	text-align: center;
}

#logooo {
	background-color: black;
	text-align: center;
	align-content: center;
	margin: 0;
	border: 0;
	padding: 0;
}

#trb {
	background-color: black;
}
footer {
	background-color: black;
}