/*#header-nav{
	background-color: blue;
	border: 0;
	border-radius: 0;
	
}


.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#menu{
	margin-top: 30px;
}

.nav-item {

	float: right;
}


.collapse.navbar-collapse { 

	visibility: visible;

}


@media  (min-width: 768px){

	#collapsibleNavbar{
		visibility: visible;
		float: none;
	}

	.nav-item {
		visibility: hidden;
		float: none;
	}

	.navbar-toggler  {
		visibility: visible;
		float: none;
	}

	.navbar-toggler-icon {
		visibility: visible;
		float: none;
	}

	.navbar-nav {

		visibility: visible;
		float: none;
	}
}


/*@media (min-width: 1200px){
	#collapsibleNavbar{
		visibility: visible;

	}
	#lol{
		font-size: 100%;
		font-family: "Oxygen", sans-serif;
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	#collapsibleNavbar{
		visibility: visible;
	}
	#lol{
		font-size: 75%;
		font-family: "Oxygen", sans-serif;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	#collapsibleNavbar{
		visibility: visible;
	}
	#lol{
		font-size: 75%;
		font-family: "Oxygen", sans-serif;
	}
}*/




.navbar-brand {
	float: left;
}


/*#homey{

	text-decoration: none;
	color: #FFFFFF;
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;

}

#abouty {
	text-decoration: none;
	color: #FFFFFF;
	border: 0;
	padding: 0;
	margin: 0;
	float: right;
}


.navbar-toggler {
	border: 0;
	float: right;
}*/



	
.nav-link {

	transition: 1s;
}
	



.mentext {
	
	text-decoration: none;
	color: #FFFFFF;
	margin: 0%;


	

}



.navbar-toggler-icon {
	padding: 0;
	margin: 0;
	border: 0;
}

#mentda {
	float: right;
	display: inline;
	margin-left: 50%;
	transition: 1s; 

}

#mentdb {
	float: right;
	display: inline;
	transition: 1s;
}
/*a {
	float: right;
}*/


#praepa {
	float: left;
}


.nav-item {

	font-size: 85px;
	
}



